<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table id="products" data-source="<%= products_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
